

*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
 }

body {
    background-color: #f5f5f5;
    color: #333; 
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 100px;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('img/earth-1756274_1920.jpg');
    background-position: center;
    background-size: cover;
}

/* Style the website title */
.title{
    font-size: 40px;
    margin-bottom: 40px;
}

/* Style the user interface elements */
.user-interface {
    margin-top: 20px;
    text-align: center;
}

#location-input {
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 10px;
    
}

#search-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#current-weather {
    background-color: #fff;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#current-weather h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-info {
    display: flex;
    justify-content: space-between;
}

.weather-icon img {
    padding: 30px;
    width: 100px;

    
}

.weather-details {
    flex-grow: 1;
    text-align: center;
}

#weather-forecast {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#weather-forecast h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-card {
    width: calc(33.33% - 10px); 
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 5px;
}

.forecast-card img {
    max-width: 50px;
    height: auto;
}

#weather-map {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#weather-map h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#map-container {
   
}

@media screen and (max-width: 768px) {
    /* Mobile styles go here */
    header h1 {
        font-size: 24px;
    }

    .user-interface {
        flex-direction: column;
    }

    #location-input {
        width: 100%;
    }

    .forecast-card {
        width: calc(50% - 10px);
    }
}

#map {
    height: 400px;
    width: 100%;
}